:root {
  --light-dark: rgb(63, 60, 60);
  --light-gray: #7e808c;
  --bright-dark: #3e4152;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  box-shadow: 0px 6px 8px #f3eeee;
}

.header-container {
  width: 90%;
  margin: auto;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.menu-items > ul {
  display: flex;
  gap: 70px;
  list-style-type: none;
  align-items: center;
}

.menu-items > ul > a {
  text-decoration: none;
  color: rgb(105, 99, 99);
}

.menu-items > ul > a > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-items > ul > a > div > li {
  font-size: 1.1rem;
  font-family: sans-serif;
  transition: all 0.2s ease-in-out;
}

.menu-items > ul > a > div:hover {
  color: rgb(231, 116, 22);
}

.body {
  width: 100%;
  margin: 30px 0px;
}

.filter-search {
  gap: 30px;
  align-items: center;
  display: flex;
  width: 86%;
  margin: auto;
}

.restaurent-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px auto;
}

.card {
  margin: 30px;
  width: 250px;
  border-radius: 11px 11px 0px 0px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 6px 18px #e9e3e3;
}

.card:hover {
  box-shadow: 0px 6px 18px #ccc2c2;
}

.card-img {
  height: 200px;
  width: 100%;
}

.card-img > img {
  border-radius: 11px 11px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-details {
  padding: 10px;
}

.card > .card-details > h2 {
  font-family: sans-serif;
  font-size: 1.1rem;
  color: rgb(59, 58, 58);
}

.rate-time {
  color: rgb(59, 58, 58);
  padding: 10px 0px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  gap: 10px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating img {
  width: 25px;
}

.rating span {
  font-weight: bold;
  font-size: 0.9rem;
}

.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: rgb(59, 58, 58);
}

.time {
  font-size: 0.9rem;
  font-weight: bold;
}

.filter-btn {
  padding: 10px 20px;
  background: transparent;
  outline: none;
  color: #2e303d;
  border: none;
  border: 1px solid rgb(179, 174, 174);
  border-radius: 21px;
  cursor: pointer;
}

/* Shimmer Component */

#shimmer-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

.shimmer-card {
  margin: 30px;
  width: 250px;
  height: 250px;
  background-color: rgb(243, 243, 234);
}

.current-session {
  padding: 10px 40px;
  border: 1px solid black;
  cursor: pointer;
  color: rgb(27, 27, 27);
}

.search-container {
  display: flex;
  gap: 10px;
}

.search-container input {
  border: none;
  border-bottom: 1px solid #b3aeae;
  outline: none;
  padding: 5px 11px;
  font-size: 1.2rem;
  color: #3e4152;
}

.search-container button {
  padding: 10px 20px;
  background: transparent;
  outline: none;
  color: #2e303d;
  border: none;
  border: 1px solid rgb(179, 174, 174);
  border-radius: 21px;
  cursor: pointer;
}

.error-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

.error-container img {
  width: 200px;
}

.error-container h2 {
  font-size: 1.8rem;
  color: rgba(14, 13, 13, 0.863);
  margin-top: 50px;
  letter-spacing: 2px;
}

.error-container p {
  margin: 10px 0px;
  color: rgb(129, 126, 126);
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.error-btn {
  background-color: rgba(255, 140, 46, 0.87);
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  outline: none;
  border: none;
  cursor: pointer;
}

.error-container span {
  font-size: 0.8rem;
  margin-top: 40px;
}

.restaurent-container a {
  text-decoration: none;
}

#menu-heading {
  font-family: sans-serif;
  width: 60%;
  margin: 50px auto;
}

.restaurant-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant-card1 {
  display: flex;
  flex-direction: column;
}

.restaurant-card1 h2 {
  font-size: 1.2rem;
  color: var(--light-dark);
  margin-bottom: 4px;
}

.restaurant-card1 p {
  letter-spacing: 0.6px;
  color: var(--light-gray);
  font-size: 0.8rem;
}

.restaurant-card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  border: 1px solid #dddde4;
  padding: 10px 20px;
  border-radius: 10px;
}

.restaurant-card2 div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.restaurant-card2 img {
  width: 15px;
  height: 15px;
}

.restaurant-card2 span {
  font-weight: bolder;
  color: #3d9b6d;
  font-size: 0.9rem;
}

.restaurant-card2 .line {
  background-color: #c9c9d1;
  width: 90%;
  height: 1px;
}

.restaurant-card2 p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: var(--light-gray);
}

#travel-info-container {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  gap: 10px;
}

#travel-info-container span {
  font-size: 0.85rem;
  color: var(--light-gray);
}

.dotted-line {
  border-bottom: 1px dotted #d3d3d3;
  padding-bottom: 30px;
}

#categories {
  padding: 20px;
  margin: 30px 0px;
  border-radius: 11px;
}

.restaurant-categories {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 11px;
}

.restaurant-categories h2 {
  font-size: 1.2rem;
  color: var(--light-dark);
  font-weight: bolder;
}

#menu-card {
  padding: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-card #res-name {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 10px;
}

#menu-card #res-name h4 {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--bright-dark);
}

#menu-card #res-name p {
  color: var(--light-gray);
  font-size: 0.85rem;
  line-height: 1.2rem;
  letter-spacing: 0.6px;
  text-align: justify;
}

#menu-card #res-name span {
  color: var(--bright-dark);
  font-size: 0.85rem;
}

#res-photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

#res-photo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

#res-photo button {
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  border: none;
  background: transparent;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 11px;
  position: absolute;
  bottom: 0%;
  left: 16%;
  background-color: #000;
}

.wifi-slash {
  width: 30px;
  height: 30px;
}

#cart-container {
  width: 70%;
  margin: 70px auto;
}

#cart-card {
  font-family: sans-serif;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cart-card #res-name {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 10px;
}

#cart-card #res-name h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--bright-dark);
}

#cart-card #res-name p {
  color: var(--light-gray);
  font-size: 0.85rem;
  line-height: 1.2rem;
  letter-spacing: 0.6px;
  text-align: justify;
}

#cart-card #res-name span {
  color: var(--bright-dark);
  font-size: 0.85rem;
}

#res-photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

#res-photo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.nav-icon h4 {
  font-family: sans-serif;
  font-size: 1rem;
}
